body{
    margin: 0;
}
.div1, .div2{
    height: 100vh;
}

.div1{
    background-color: pink;
}
.div2{
    /* background-color: salmon; */
}
.squire{
    width: 150px;
    height: 150px;
    background-color: fuchsia;
}
.squire2{
    /* margin-top: 00px; */
    height: 150px;
    width: 150px;
    background-color: blue;
}

/* toggleClass */
.red{
    background-color: red;
}